* {
    margin: 0;
    box-sizing: border-box;
}
body {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #141414;
    z-index: 0;
}
.mini-header {
    position: absolute;
    width: 1280px;
    height: 68px;
    background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
}
.logo {
    position: absolute;
    margin-left: 3rem;
    padding-top: 18px;
}

.titulo {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight:normal;
    padding-top: 10rem;
    margin-left: 27rem;
}

.avatar1 {
    display: inline-block;
    width: 150px;
    height: 145px;
    background-image: url(/perfil3.png);
    border-radius: 4px;
    margin-left: 35rem;
}

.name-avatar1 {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 170px;
    margin-left: 41px;
    color: grey;
}


.avatar1:hover {
    border: 2px solid white;
}
.name-avatar1:hover {
    color: white;
}


.botao {
    margin-left: 565px;
    padding-top: 5rem;
}

.button {
    padding: 0.5em 2em;
    background-color: transparent;
    border: 1px solid grey;
    color: grey;
}

.button:hover {
    border: 1px solid white;
    color: white;
    transition: 0.3s;
}